*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'spartan';
    src: url('LeagueSpartan-VariableFont_wght.ttf');
}
body{
    background-color: hsl(268, 75%, 9%);
    font-family: 'spartan';
}
.container{
    margin-top: 40px;
    width: 500px;
    height: 600px;
    background-color: hsl(268, 75%, 9%);
    padding: 20px;
    border-style: none;
    
}
.top{
    display: flex;
    color: white;
}
.top h3{
    margin-left: 280px;
    font-size: 12px;
    margin-top: 9px;
    margin-right: 20px;
}
.top button{
    width: 40px;
    border-style: solid;
    border-color: hsl(268, 71%, 12%);
    background-color: hsl(268, 71%, 12%);
    color: white;
}
.top button:hover{
    background-color: hsl(6, 63%, 50%);
    transition: 0.3s all; 
    cursor: pointer;
}
.content input{
    margin-top: 20px;
    font-family: 'spartan';
    width: 480px;
    height: 90px;
    background-color: hsl(268, 71%, 12%);;
    border-style: solid;
    border-color:hsl(268, 71%, 12%);;
    text-align: right;
    font-size: 50px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.numberBox{
    display: block;
    width: 479px;
    height: 370px;
    background-color: hsl(268, 71%, 12%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 10px;
}
.row-1 button{
    width: 105px;
    height: 60px;
    margin-left:8px;
   font-size: 22px;
   border-radius: 8px;
   color:  hsl(52, 100%, 62%);
   border-style: solid;
   background-color: hsl(281, 89%, 26%);
   border-color:hsl(281, 89%, 26%);
   font-weight: 800;
   margin-bottom: 15px;
   box-shadow:0px 4px 0px hsl(285, 91%, 52%);
}
.row-last button{
    width: 222px;
    margin-left: 8px;
    height: 60px;
    border-radius: 8px;
    font-size: 22px;
    border-style: solid;
    border-color: hsl(223, 31%, 20%);
    font-weight: 800;
}
.row-1 button:hover{
    cursor: pointer;
}
.row-last button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 93%);
}
@media only screen and (max-width:400px){
    .container{

        width: 330px;
        height: 400px;
    }
    .top h3{
        margin-left: 130px;
        margin-right: 10px;
    }
    .top button{
        width: 35px;
    }
    .content input{
        width: 320px;
        margin-left: -7px;
        height: 70px;
        font-size: 40px;
    }
    .numberBox{
        margin-left: -7px;
        width: 320px;
        height: 330px;
    }
    .row-1 button{
        width: 65px;
        height: 50px;
    }
    .row-last button{
        width: 145px;
        height: 50px;
    }
}




